<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BlackBox" type="BlackBox.LogConfigurationSectionHandler, BlackBox"/>
  </configSections>
  <BlackBox>
    <Sinks>
      <!-- Add a console sink to the configuration. -->
      <Sink Type="Console" Format="$(time(format='HH:mm:ss')): $(message())" />
    </Sinks>
  </BlackBox>
</configuration>