<?xml version="1.0"?>
<configuration>
  <configSections>
		<section name="BlackBox" type="BlackBox.LogConfigurationSectionHandler, BlackBox"/>
		<section name="CustomBlackBox" type="BlackBox.LogConfigurationSectionHandler, BlackBox"/>
  </configSections>	
	
	<!-- The default configuration -->
	<BlackBox>
		<Sinks>
			<!-- Add a console sink to the configuration. -->
			<Sink Type="Console" Name="BlackBox.ConsoleSink" Format="$(time(format='HH:mm:ss')): $(message())"/>
		</Sinks>
	</BlackBox>
	
	<!-- The custom configuration -->
	<CustomBlackBox>
    <Sinks>
      <!-- Add a console sink to the configuration. -->
      <Sink Type="Console" Name="Custom.ConsoleSink" Format="$(time(format='HH:mm:ss')): $(message())"/>
    </Sinks>
  </CustomBlackBox>
	
  <startup>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup>
</configuration>
